<!DOCTYPE html>

<html>
	<head>
		<meta charset="UTF-8"/>
		<title>Conectar</title>
		<link rel="stylesheet" href="css/login.css"/>
		<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"/>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div id="login-cont" class="container">
					<div class="col-md-5 offset-md-4" id="fundo-log">
						<form method="POST" class="col-10 offset-md-4" id="form">
								<legend class="col-11" style="text-align: center; margin-left: 2%; padding-bottom: 10%"><span style="font-family:Nirmala UI; font-size: 25px;">VIVEIRO</span><br><span style="font-family:Myriad Pro; font-size: 42px; color: #1F563A">Ranzini</span></legend>
							<div class="form-group" id="campoUser">
						    	<label for="inputUsuario">Usuário</label>
						    	<input type="text" class="form-control" id="inputUsuario" name="usuario" placeholder="Insira seu usuário" required>
													  
							</div>
							<div class="form-group">
						    	<label for="inputSenha">Senha</label>
						    	<input type="password" name="senha" class="form-control" id="inputSenha" placeholder="Insira sua senha" required>
							</div>
							<div class="offset-md-9">
							<button type="submit" id="btn-conectar" class="btn btn-sm btn-success" style="background: #1F563A; opacity: 1;">Conectar</button>
							</div>
						</form>
						<p>Todos os direitos reservados - Desenvolvido por IFJr Soluções</p>
					</div>
				</div>
			</div>
		</div>
	</body>
<html>